/*****************************************************
******************** Global Styles *******************
******************************************************/

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}



body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 35px "RobotoRegular"
}
