extends ./layouts/head.jade

block head
	main  

		h1 Gulp Basic Template!!!
		p Using FontAwesome
		img(src="assets/img/logo.jpeg")
  
  
  
  
  
  
  
  
  
  
		include ./layouts/widgets/foot.jade
