/*****************************************************
******************** Global Styles *******************
******************************************************/
@font-face {
  font-family: "OpenSansL";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSansR";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSansB";
  src: url("../fonts/OpenSans-Semibold.ttf");
}



body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "OpenSansR";
}
